<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="introduction-body">
    <div class="introduction-container">
        <h1 class="introduction-title">About "SLEIGH IT!"</h1>
        <div class="introduction-content">
            <p class="introduction-paragraph">
            Get ready to supercharge your productivity with our team's creation: a dynamic web application designed to be your ultimate focus companion! We've crafted a seamless experience, starting with a slick login system that unlocks your personal dashboard – your command center for productivity. Inside, you'll discover a powerhouse of features designed to get things done:
            </p>
            <ul class="introduction-list">
                <li><strong>Immersive Music:</strong> Dive into your work with curated music, crafted to boost your focus or help you unwind.</li>
                <li><strong>Precision Pomodoro Timer:</strong> Harness the power of the Pomodoro Technique with our built-in timer, making focused work a breeze.</li>
                <li><strong>Laser-Sharp Focus Mode:</strong> Say goodbye to distractions! Our focus mode comes complete with a website blocker, allowing you to dive deep without any interruptions.</li>
                <li><strong>Organized Task Management:</strong> Keep your goals front and center with our task manager, helping you conquer your to-do lists like a pro.</li>
                <li><strong>Motivational Reward System:</strong> Get rewarded for your progress! We've added a unique system to acknowledge your hard work and keep you motivated.</li>
            </ul>
             <p class="introduction-paragraph">
                This application is a testament to our team's dedication and learning journey. We built it using HTML, CSS, JavaScript, Python, and SQL, which not only provided the required functionality, but also allowed us to grow both in terms of skill and as a team. Creating our own app has been an awesome experience for each of us. We're excited to share our creation with you, the ultimate productivity booster! - SLEIGH IT!
            </p>
            
        </div>
       <div class="back-home-container">
        <a href="/" class="back-home-button">Go back to Home</a>
       </div>
    </div>
</body>
</html>